
  .expenseInfoContainer{
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
  }

  .incomeExpenseContainer{
    background-color: black;
    box-shadow: var(--box-shadow);
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }

  .incomeExpenseContainer > div {
    flex: 1;
    text-align: center;
  }
  
  .incomeExpenseContainer > div:first-of-type {
    border-right: 1px solid #dedede;
  } 
  
  .money {
    font-size: 20px;
    letter-spacing: 1px;
    margin: 5px 0;
  }
  
  .money.plus {
    color: #2ecc71;
  }
  
  .money.minus {
    color: #c0392b;
  }
   
  .expenseInfoContainer h4{
        margin: 0;
        text-transform: uppercase;
   
  }
  .h4{
    color: blue;
  }

  .view{
    display: none;;
  }
  
  @media screen and (max-width:767px) {
    
  .expenseInfoContainer{
    width: 50%;
    padding: .3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: .4rem;
    



    /* left: .00000001rem; */
   
    border: 1px solid gray;
    border-radius: 1px;
    transform:translate(.0001%,-25%);
    font-size: 2rem;
    height: 16rem;
   left: 0;
   margin-left: 0px !important;
   padding-left: 0px !important;
   margin-top: 69px !important;
    
  }

  .incomeExpenseContainer{
    background-color: black;
    box-shadow: var(--box-shadow);
    padding: 1rem;
    width: 100%;
    display: flex;
    /* justify-content: space-between;
    margin: 20px 0; */
  }

  .incomeExpenseContainer > div {
    flex: 1;
    /* text-align: center; */
  }
  
  .incomeExpenseContainer > div:first-of-type {
    border-right: 1px solid #dedede;
  } 
  
  .money {
    font-size: 20px;
    letter-spacing: 1px;
    margin: 5px 0;
  }
  
  .money.plus {
    color: #2ecc71;
    display: none;
  }
  
  .money.minus {
    color: #c0392b;
  }
   
  .expenseInfoContainer h4{
        margin: 0;
        text-transform: uppercase;
   
  }
  .h4{
    color: blue;
    font-size: medium;
  }

    
  }