.cardcarousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding-left: 2px;
  padding-right: 2px;
}

.cardimage {
  width: 100vw;
  height: 520px;
  margin-bottom: 20px;
}

.pagination {
  display: flex;
  margin-bottom: 20px;
}

.paginationdot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
  margin-right: 10px;
  cursor: pointer;
}

.paginationdot.active {
  background-color: black;
}

.navbutton {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
}







