
 .contact svg {
  background-color: white;;
  margin-top: 10px;
  width: 1.5rem;
  height: 1.5rem;
}

.contact{
  margin-left: 128px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  list-style-type: none;
  margin-top:50px;
  margin-bottom: 30px;
  
}

.contact svg:hover{
  box-shadow: inset;
  animation: alternate;
  background-color:lightblue
}


/* ======================== */
@media (max-width: 600px) {
  .contact {
    margin: 0;
    padding: 0;
    margin-top: 50px;
  }
  .contact .card2 {
    margin: 0;
  }

  .contact .card2 h6 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
