


 .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color:rgb(red, green, blue);
  color: white;
}

.left {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 20px;
  margin-right: 10px;
}

.logo img{
  height: 2rem;
  width: 1.2rem;
 padding-bottom: .4rem;
}

.companyName {
  font-size: 16px;
  margin-right: 20px;
}

.searchBar {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #131313;
  width: 200px;
  opacity: .8;
}

.middle {
  display: flex;
}

.navItem {
  padding: 0 10px;
  cursor: pointer;
}

.right {
  display: flex;
  align-items: center;
}

.login {
  padding: 8px 15px;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}

.toggleButton{
  display: none;
}
/* Media Queries for Responsiveness */

/* For smaller devices (e.g., mobile phones) */
@media screen and (max-width: 768px) {
  .middle, .right,.companyName{
    display: none;
  }

  .navbar {
    flex-direction: column;
    text-align: center;
    /* padding-bottom: 30px; */
    margin: 0;
    margin-bottom: -40px;

  }

  .left{
    gap: 90px;
  }
  .left, .right {
    margin-bottom: 1px;
    margin-left: -50px;
  }

  .searchBar {
    width: 40%;
    margin-bottom: 1px;
    height: 10%;
  }
  ::placeholder{
    font-size: .8rem;
  }

  .navItem {
    padding: 1px 0;
    width: 100%;
    border-bottom: 1px solid #fff;
   
  }

.toggleButton{
  display: block;
}
  .toggleButton svg {
    font-size: 2rem;
    position: absolute;
    top: 15px;
    right: 20px;
    color: #ccc;
  }


  .showItems {
    display: flex; /* Show items on toggle */
    flex-direction: column;
    align-items: center;
  }
  .navItem {
    margin-top: 10px;
    width: 100%;
    border-bottom: 1px solid #fff;
  }
 






}













