.outerContainer{
    padding-top: 100px;
}



.container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
  }
  
  .inputField {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submitBtn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    font-size: 16px;
  }
  
  .submitBtn:hover {
    background-color: #45a049;
  }
  
  .submitBtn.google-btn {
    background-color: #4285f4;
  }
  
  .submitBtn.discord-btn {
    background-color: #7289da;
  }
  

  